<!DOCTYPE html>
<html>
<head>
  <title>Hembee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="primary-nav">
  <div class="primary-nav-left-side">
    <h1>Hembee</h1>
  </div>
</nav>

<%= yield %>

</body>
</html>
